body {
	width: 100%;
	height: 100%;
	background: #000000;
   	margin: 0px;
}

/*
.sidenav {
  height: 100%;
  width: 98px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: #000000;
  overflow-x: hidden;
  padding-top: 20%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
*/
#results {
	margin-left: 0px;
}
.sidenav a:hover {
  color: #f1f1f1;
}


.movie_card {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
  font-size: 50pt;
}
.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
  font-size: 18pt;
}
.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 0px;
  color: #fff;
  padding: 5px;
  font-size: 15pt;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
  font-size: 15pt;
}
}
.movie_card .info_section .movie_desc {
  height: 40%;
}
.movie_card .info_section .movie_desc .text {
  color: #cfd6e1;
  font-size: 24pt;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  
}

.movie_header {
  width: 40%;
}

.movie_desc {
  width: 40%;
  padding: 25px;
}

.info_section {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #000000), to(transparent));
  background: linear-gradient(to right, #000000 60%, transparent 100%);
//-webkit-box-shadow: inset 0px 100px 25px 0px rgba(0,0,0,1), inset 0px -100px 25px 0px rgba(0,0,0,1);
//-moz-box-shadow: inset 0px 100px 25px 0px rgba(0,0,0,1), inset 0px -100px 25px 0px rgba(0,0,0,1);
//box-shadow: inset 0px 100px 25px 0px rgba(0,0,0,1), inset 0px -100px 25px 0px rgba(0,0,0,1);
box-shadow: inset 0px -110px 25px 0px rgba(0,0,0,1);
}

.blur_back {
  width: 45%;
}

.bright_back {
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}